<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd & xsd tags to validate tags and to store file and manage use xsd -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- read and create object inside the ApplicationContext -->
	<bean id="sim" class="com.bridgelabz.ioc.Idea"></bean>
</beans>